.Home {
  display: block;
}

.presentation {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.presentation-cards {
  height: max-content;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  max-height: 200px;
  pointer-events: none;
}

#GLAz {
  animation: GLAz__rotation__1 301ms 0ms ease-in-out forwards, GLAz__rotation__2 403ms 301ms ease-in-out forwards, GLAz__rotation__3 299ms 704ms ease-in-out forwards, GLAz__height__1 500ms 0ms linear forwards, GLAz__height__2 503ms 500ms linear forwards;
}

@keyframes GLAz__rotation__1 {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(-5deg);
  }
}
@keyframes GLAz__rotation__2 {
  from {
      transform: rotate(-5deg);
  }

  to {
      transform: rotate(3deg);
  }
}
@keyframes GLAz__rotation__3 {
  from {
      transform: rotate(3deg);
  }

  to {
      transform: rotate(0deg);
  }
}
@keyframes GLAz__height__1 {
  from {
      height: 80%;
  }

  to {
      height: 100%;
  }
}
@keyframes GLAz__height__2 {
  from {
      height: 100%;
  }

  to {
      height: 80%;
  }
}
